.container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

body{
	background-color: black
}

h1{
	color:white;
	font-family:fantasy;
	font-size: 3em;
	border-bottom: 3px solid #AA6939;
	border-right: 3px solid #AA6939;
	width: 310px;
	text-align: center; 
}

img
{
	width: 450px;
	height: 300px;
	margin: 10px;
}